# Exclude Python cache files
__pycache__/
*.pyc

# Exclude Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Exclude environment files
.env

# Exclude logs and models
logs/
drl/drl_models/
neural_network/nn_logs/
neural_network/nn_models/

# Exclude data
data/

